<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot와 JPA로 만들어보기</title>
    <link href="/styles/style.css" rel="stylesheet"> <!-- 경로를 / 부터 시작하면 static 폴더 파일들 사용 가능 -->
    <link href="/styles/nav.css" rel="stylesheet">
</head>

<body>
<div th:replace="~{ nav.html::navbar }"></div>

<div class="card" th:each="notice : ${notices}">
    <div>
        <h4 th:text="${notice.title}"></h4>
        <p th:text="${notice.date}"></p>
    </div>
</div>
</body>
</html>